@import "./mixins";

.tracker {
  height: 100vh;
  width: 95%;
  background-color: #ffffffa2;
  display: grid;
  place-items: center;
  border-radius: 16px;

  &__wrapper {
    height: 95vh;
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px 20px;
    background-color: #fff;
    border-radius: 26px;

    @include screens(phone-only) {
      gap: 15px;
    }
  }
}
