.header {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 10px 20px;

  &__logo {
    color: #111;
    user-select: none;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }

  &__text {
    display: flex;
    flex-direction: column;
    gap: 3px;
  }

  &__welcoming {
    font-weight: bold;
  }

  &__message {
    color: #999999;
  }

  &__toggler {
    display: flex;
    align-items: center;
    position: absolute;
    right: 0;
  }

  &__checkbox {
    appearance: none;
  }

  &__label {
    position: relative;
    display: block;
    width: 45px;
    height: 20px;
    background-color: black;
    border-radius: 10px;
    transition: var(--transition-timing);

    &::before {
      content: "";
      position: absolute;
      width: 15px;
      height: 15px;
      background-color: #fff;
      border-radius: 50%;
      left: 2px;
      top: 50%;
      transform: translateY(-50%);
      transition: var(--transition-timing);
    }
  }

  &__checkbox:checked + .header__label {
    background-color: #999;
  }
  &__checkbox:checked + .header__label::before {
    left: 27px;
    background-color: #fff;
  }
}
