@import "./mixins";

.header {
  display: flex;
  flex-direction: column;
  gap: 12px;

  &__logo {
    align-self: center;
    font-size: 3rem;
    color: var(--color-black);
    user-select: none;

    @include screens(medium-to-large) {
      font-size: 3.2rem;
    }
  }

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }

  &__text {
    display: flex;
    flex-direction: column;
    gap: 3px;
  }

  &__welcoming {
    color: var(--color-black);
    font-weight: bold;

    @include screens(phone-only) {
      font-size: clamp(0.7rem, 3.2vw, 1.3rem);
    }
  }

  &__message {
    color: var(--msg-color);

    @include screens(phone-only) {
      font-size: clamp(0.7rem, 3.2vw, 1.3rem);
    }
  }

  &__toggler {
    display: flex;
    align-items: center;
    position: absolute;
    right: 0;
  }

  &__checkbox {
    appearance: none;
  }

  &__label {
    position: relative;
    display: block;
    width: 45px;
    height: 20px;
    background-color: var(--color-black);
    border-radius: 10px;
    cursor: pointer;
    transition: var(--transition-timing);

    @include screens(phone-only) {
      width: 40px;
    }

    &::before {
      content: "";
      position: absolute;
      width: 15px;
      height: 15px;
      background-color: var(--color-white);
      border-radius: 50%;
      left: 4px;
      top: 50%;
      transform: translateY(-50%);
      transition: var(--transition-timing);

      @include screens(phone-only) {
        width: 14px;
        height: 14px;
        left: 3px;
      }
    }
  }

  &__checkbox:checked + .header__label {
    background-color: var(--msg-color);
  }
  &__checkbox:checked + .header__label::before {
    left: 27px;
    background-color: var(--color-white);

    @include screens(phone-only) {
      left: 23px;
    }
  }
}

// adjust the responsiveness of header and adjust colors
