@import "./mixins";

#inputs__arrow-checkbox {
  appearance: none;
}

.inputs {
  position: relative;
  // display: flex;
  // justify-content: space-between;
  // align-items: center;
  // flex-wrap: wrap;
  // gap: 10px;
  // position: relative;
  // padding: 16px 18px;
  // background-color: #f2f2f2;
  // // background-color: #6fb7a931;
  // // background-color: var(--color-body);
  // border-radius: 8px;

  &__arrow {
    position: absolute;
    width: 22px;
    height: 22px;
    top: -11px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
    background-color: var(--transaction-item-bg);
    z-index: 1;
    cursor: pointer;

    @include screens(large-screen) {
      display: none;
    }
  }

  &__arrow-icon {
    color: var(--logo-color);
    width: 22px;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    position: relative;
    padding: 16px 18px;
    background-color: var(--inputs-bg-color);
    border-radius: 8px;
    transition: var(--transition-timing);

    @include screens(medium-to-large) {
      top: 95px;
      display: none;
      opacity: 0;
    }

    @include screens(phone-only) {
      top: 25px;
      display: none;
      opacity: 0;
    }
  }

  &__category,
  &__name,
  &__amount,
  &__date,
  &__time {
    font-family: var(--fm-secondary);
    padding: 10px 10px;
    flex-basis: 15%;
    flex-grow: 1;
    outline: none;
    border: none;
    border-radius: 12px;

    @include screens(phone-only) {
      flex-basis: 20%;
    }
  }

  &__category {
    &:focus option:first-of-type {
      display: none;
    }
  }

  &__info {
    display: flex;
    justify-content: space-between;
  }

  &__amount {
    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
      appearance: none;
      margin: 0;
    }
  }

  &__timing {
    display: flex;
    justify-content: space-between;
  }

  &__date {
    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
      appearance: none;
      margin: 0;
    }
  }

  &__time {
    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
      appearance: none;
      margin: 0;
    }
  }

  &__add-btn {
    all: unset;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    background-color: var(--button-bg-color);
    color: var(--button-dark-color);
    flex-basis: 40px;
    flex-grow: 1;
    height: 10px;
    padding: 10px;
    border: 1px solid transparent;
    border-radius: 6px;
    cursor: pointer;
    transition: var(--transition-timing);

    &:hover {
      font-size: 2.2rem;
      scale: 1.15;
      background-color: var(--button-bg-hover-color);
    }

    @include screens(phone-only) {
      flex-basis: 60px;
    }
  }
}

body.app--isDark {
  --color-body: #313131;
  --app-bg: #313131;
  --logo-color: #fff;
  --heading-color: #fff;
  --toggle-bg-color: #b6b6b6;
  --overview-heading-color: #fff;
  --overview-item-color: #fff;
  --color-lighter-grey: #f7f7f728;
  --scrollbar-color: #f7f7f71e;
  --transaction-item-color: #fff;
  --transaction-item-bg: #f7f7f70c;
  --inputs-bg-color: #f7f7f70c;
  --button-color: #121212;
  --button-bg-color: #fff;
  --button-bg-hover-color: #00cc99ce;
  --income-color: #00cc99e3;
  --expenses-color: #fe1919d5;
  --balance-color: #91118ed5;
  --savings-color: #4c89bfc7;
}
