@import "./mixins";

#inputs__arrow-checkbox {
  appearance: none;
}

.inputs {
  position: relative;
  // display: flex;
  // justify-content: space-between;
  // align-items: center;
  // flex-wrap: wrap;
  // gap: 10px;
  // position: relative;
  // padding: 16px 18px;
  // background-color: #f2f2f2;
  // // background-color: #6fb7a931;
  // // background-color: var(--color-body);
  // border-radius: 8px;

  &__arrow {
    position: absolute;
    width: 22px;
    height: 22px;
    top: -11px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
    background-color: #ddd;
    z-index: 1;
    cursor: pointer;

    @include screens(large-screen) {
      display: none;
    }
  }

  &__arrow-icon {
    width: 22px;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    position: relative;
    padding: 16px 18px;
    background-color: #f2f2f2;
    // background-color: #6fb7a931;
    // background-color: var(--color-body);
    border-radius: 8px;
    // top: 100%;
  }

  &__category,
  &__name,
  &__amount,
  &__date,
  &__time {
    font-family: var(--fm-secondary);
    padding: 10px 10px;
    flex-basis: 15%;
    flex-grow: 1;
    outline: none;
    border: none;
    border-radius: 12px;

    @include screens(phone-only) {
      flex-basis: 20%;
    }
  }

  &__category {
    &:focus option:first-of-type {
      display: none;
    }
  }

  &__info {
    display: flex;
    justify-content: space-between;
  }

  &__amount {
    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
      appearance: none;
      margin: 0;
    }
  }

  &__timing {
    display: flex;
    justify-content: space-between;
  }

  &__date {
    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
      appearance: none;
      margin: 0;
    }
  }

  &__time {
    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
      appearance: none;
      margin: 0;
    }
  }

  &__add-btn {
    all: unset;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    // background-color: #81df82;
    // background-color: #00cc99;
    // background-color: #6fb7a9;
    background-color: var(--color-body);
    color: #fff;
    flex-basis: 40px;
    flex-grow: 1;
    height: 10px;
    padding: 10px;
    border: 1px solid transparent;
    border-radius: 6px;
    cursor: pointer;

    @include screens(phone-only) {
      flex-basis: 60px;
    }
  }
}
