@import "./variables";
@import "./mixins";

$income-color: rgb(130, 211, 228);

.overview {
  display: flex;
  flex-direction: column;
  gap: 10px;

  &__heading {
    color: var(--overview-heading-color);
    font-size: 2.2rem;
  }

  &__wrapper {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 20px;
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 15%;
    padding: 10px 4px;
    border-radius: 8px;
    color: var(--overview-item-color);
    transition: var(--transition-timing);

    @include screens(medium-screen) {
      font-size: clamp(1.3rem, 2vw, 1.6rem);
    }

    @include screens(phone-only) {
      gap: 15px;
      width: 44%;
      padding: 8px 10px;
    }
  }

  &__head {
    text-transform: uppercase;
  }

  &__total {
    font-weight: 700;
  }

  &__income {
    background-color: var(--income-color);
    border-color: var(--income-border-color);
  }

  &__expenses {
    background-color: var(--expenses-color);
    border-color: var(--expenses-border-color);
  }

  &__balance {
    background-color: var(--balance-color);
    border-color: var(--balance-border-color);
  }

  &__savings {
    background-color: var(--savings-color);
    border-color: var(--savings-border-color);
  }
}
