@import "./variables";
@import "./mixins";

.search {
  display: flex;
  justify-content: space-between;
  align-items: end;
  border-bottom: 1px solid var(--color-lighter-grey);
  margin-bottom: 10px;
  padding-bottom: 10px;

  &__label {
    position: relative;
    width: 250px;

    @include screens(phone-only) {
      width: 45%;
    }
  }

  &__icon {
    position: absolute;
    margin-inline-start: 4px;
    width: 22px;
    top: 50%;
    transform: translateY(-50%);
    color: var(--color-light-grey);
    cursor: text;
  }

  &__input {
    all: unset;
    font-family: var(--fm-secondary);
    font-weight: var(--fw-3);
    color: var(--logo-color);
    width: 100%;
    padding: 6px 0 6px 28px;
    border: 1px solid var(--color-lighter-grey);
    border-radius: 6px;
    caret-color: var(--caret-color);
    cursor: text;

    &::placeholder {
      color: var(--color-light-grey);
    }

    @include screens(phone-only) {
      width: 100%;
    }
  }

  &__clear-btn {
    all: unset;
    font-weight: var(--fw-5);
    color: var(--color-red);
    cursor: pointer;
    transition: var(--transition-timing);

    &:hover {
      font-weight: var(--fw-6);
      text-decoration: underline;
    }

    @include screens(phone-only) {
      font-size: clamp(1.2rem, 2vw, 2rem);
    }
  }
}
