@import "./variables";
@import "./mixins";

.transactions {
  padding: 8px;

  &__list {
    height: 206px;
    display: flex;
    flex-direction: column;
    gap: 7px;
    overflow-y: scroll;

    &::-webkit-scrollbar {
      width: 13px;
    }

    &::-webkit-scrollbar-thumb {
      border: 5px solid transparent;
      border-radius: 100px;
      background-color: var(--scrollbar-color);
      background-clip: content-box;
      cursor: pointer;
    }
  }

  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border-radius: 6px;
    color: var(--transaction-item-color);
    background-color: var(--transaction-item-bg);

    &.hide {
      display: none;
    }
  }

  &__type {
    display: flex;
    align-items: center;
    gap: 15px;
    width: 27%;

    @include screens(medium-to-large) {
      flex-direction: column;
      gap: 3px;
    }

    @include screens(phone-only) {
      flex-direction: column;
      gap: 5px;
    }
  }

  &__category {
    font-size: var(--fs-19);
    font-weight: var(--fw-7);

    @include screens(large-screen) {
      width: 125px;
    }

    @include screens(medium-screen) {
      font-size: clamp(var(--fs-14), 2vw, var(--fs-17));
    }

    @include screens(phone-only) {
      font-size: clamp(1rem, 2.8vw, var(--fs-16));
    }
  }

  &__name {
    font-size: clamp(var(--fs-13), 2vw, var(--fs-17));
    font-weight: var(--fw-4);

    @include screens(large-screen) {
      width: 125px;
    }

    @include screens(phone-only) {
      font-size: clamp(1rem, 2.8vw, var(--fs-15));
    }
  }

  &__details {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    width: 35%;

    @include screens(medium-screen) {
      gap: 15px;
    }

    @include screens(phone-only) {
      flex-direction: column;
      align-items: center;
      gap: 5px;
    }
  }

  &__amount {
    font-size: var(--fs-17);
    font-weight: var(--fw-7);

    @include screens(medium-screen) {
      font-size: clamp(var(--fs-13), 2vw, var(--fs-16));
    }

    @include screens(phone-only) {
      font-size: clamp(1rem, 2.8vw, var(--fs-16));
    }

    &-income {
      color: var(--income-color);
    }

    &-expenses {
      color: var(--expenses-color);
    }

    &-savings {
      color: var(--savings-color);
    }
  }

  &__time-wrapper {
    display: flex;
    gap: 20px;
    font-size: var(--fs-17);

    @include screens(medium-screen) {
      gap: 15px;
      font-size: clamp(var(--fs-14), 2vw, var(--fs-17));
    }

    @include screens(phone-only) {
      gap: 5px;
      font-size: clamp(var(--fs-13), 2.8vw, var(--fs-16));
    }
  }

  &__actions {
    display: flex;
    align-items: center;
    gap: 20px;

    @include screens(medium-screen) {
      gap: 10px;
    }

    @include screens(phone-only) {
      gap: 10px;
    }

    @media (max-width: 290px) {
      gap: 5px;
    }

    button {
      all: unset;
      width: 22px;
      transition: var(--transition-timing);
      cursor: pointer;

      @include screens(medium-screen) {
        width: 20px;
      }

      @include screens(phone-only) {
        width: 17px;
      }
    }
  }

  &__edit-icon {
    transition: var(--transition-timing);

    &:hover {
      color: blue;
    }
  }

  &__delete-icon {
    transition: var(--transition-timing);

    &:hover {
      color: var(--color-red);
    }
  }
}
