:root {
  --color-white: #fff;
  --color-lighter-grey: rgb(228, 228, 228);
  --color-light-grey: rgb(206, 206, 206);
  --color-black: #0e0f11;
  --color-red: #fe1a19;

  --color-body: #8bb8f1; //Jordy blue
  // --color-body: #1dacd6; //battery charge
  // --color-body: #4c89bf; //nature blue
  // --color-body: #327ac4; //midaterranean blue
  // --color-body: rgb(157, 196, 235);
  // --color-body: #e5f1ef;
  // --color-body: #6fb7a9;

  --app-bg: #fff;
  --logo-color: #0e0f11;
  --heading-color: #0e0f11;
  --msg-color: #b6b6b6;
  --toggle-color: #fff;
  --toggle-bg-color: #171717;
  --overview-heading-color: #171717;
  --overview-item-color: #171717;
  --caret-color: #0e0f11;
  --scrollbar-color: #8bb8f1;
  --transaction-item-color: #171717;
  --transaction-item-bg: #f7f7f7;
  --inputs-bg-color: #f2f2f2;
  --button-color: #fff;
  --button-bg-color: #8bb8f1;
  --button-bg-hover-color: #5196f0;

  --income-color: #00cc99ce;
  // --income-border-color: #00b88a;
  --expenses-color: #fe191999;
  --balance-color: #aa12a860;
  // --balance-border-color: #6f0b6e;
  --savings-color: #4c89bf99;
  // --savings-border-color: #4c89bf;

  --fm-primary: "Quicksand", sans-serif;
  --fm-secondary: "Poppins", sans-serif;

  --fs-1: 1rem;
  --fs-11: 1.1rem;
  --fs-12: 1.2rem;
  --fs-13: 1.3rem;
  --fs-14: 1.4rem;
  --fs-15: 1.5rem;
  --fs-16: 1.6rem;
  --fs-17: 1.7rem;
  --fs-18: 1.8rem;
  --fs-19: 1.9rem;
  --fs-2: 2rem;

  --fw-3: 300;
  --fw-4: 400;
  --fw-5: 500;
  --fw-6: 600;
  --fw-7: 700;

  --transition-timing: 0.3s;
}
