:root {
  --color-body: #9dc4eb;
  --fs-1: 1rem;
  --fs-11: 1.1rem;
  --fs-12: 1.2rem;
  --fs-13: 1.3rem;
  --fs-14: 1.4rem;
  --fs-15: 1.5rem;
  --fs-16: 1.6rem;
  --fs-17: 1.7rem;
  --fs-18: 1.8rem;
  --fs-19: 1.9rem;
  --fs-2: 2rem;
  --fw-3: 300;
  --fw-4: 400;
  --fw-5: 500;
  --fw-6: 600;
  --fw-7: 700;
  --transition-timing: 0.3s;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Quicksand", sans-serif;
  font-size: 1.6rem;
  background-color: #e5f1ef;
  display: grid;
  place-items: center;
}

ul {
  list-style: none;
}

.tracker {
  height: 100vh;
  width: 95%;
  background-color: rgba(255, 255, 255, 0.6352941176);
  display: grid;
  place-items: center;
  border-radius: 16px;
}
.tracker__wrapper {
  height: 95vh;
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 10px 20px;
  background-color: #fff;
  border-radius: 26px;
}
@media (max-width: 599px) {
  .tracker__wrapper {
    gap: 15px;
  }
}

.header {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.header__logo {
  align-self: center;
  font-size: 3rem;
  color: #111;
  user-select: none;
}
@media (min-width: 600px) and (max-width: 1200px) {
  .header__logo {
    font-size: 3.2rem;
  }
}
.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.header__text {
  display: flex;
  flex-direction: column;
  gap: 3px;
}
.header__welcoming {
  font-weight: bold;
}
@media (max-width: 599px) {
  .header__welcoming {
    font-size: clamp(0.7rem, 3.2vw, 1.3rem);
  }
}
.header__message {
  color: #999999;
}
@media (max-width: 599px) {
  .header__message {
    font-size: clamp(0.7rem, 3.2vw, 1.3rem);
  }
}
.header__toggler {
  display: flex;
  align-items: center;
  position: absolute;
  right: 0;
}
.header__checkbox {
  appearance: none;
}
.header__label {
  position: relative;
  display: block;
  width: 45px;
  height: 20px;
  background-color: black;
  border-radius: 10px;
  cursor: pointer;
  transition: var(--transition-timing);
}
@media (max-width: 599px) {
  .header__label {
    width: 40px;
  }
}
.header__label::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  background-color: #fff;
  border-radius: 50%;
  left: 4px;
  top: 50%;
  transform: translateY(-50%);
  transition: var(--transition-timing);
}
@media (max-width: 599px) {
  .header__label::before {
    width: 14px;
    height: 14px;
    left: 3px;
  }
}
.header__checkbox:checked + .header__label {
  background-color: #999;
}
.header__checkbox:checked + .header__label::before {
  left: 27px;
  background-color: #fff;
}
@media (max-width: 599px) {
  .header__checkbox:checked + .header__label::before {
    left: 23px;
  }
}

.overview {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.overview__heading {
  font-size: 2.2rem;
}
.overview__wrapper {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 20px;
}
.overview__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  width: 15%;
  padding: 15px 15px;
  border-width: 2px;
  border-style: solid;
  border-radius: 8px;
}
@media (max-width: 599px) {
  .overview__item {
    gap: 15px;
    width: 44%;
    padding: 8px 10px;
  }
}
.overview__head {
  text-transform: uppercase;
}
.overview__total {
  font-weight: 700;
}
.overview__income {
  background-color: #cbecec;
  border-color: #0dccc9;
}
.overview__expenses {
  background-color: #fcfdaf;
  border-color: #f4f749;
}
.overview__balance {
  background-color: #eadcdc;
  border-color: #b4a9a9;
}
.overview__savings {
  background-color: #c6e1b8;
  border-color: #8edb67;
}

:root {
  --color-body: #9dc4eb;
  --fs-1: 1rem;
  --fs-11: 1.1rem;
  --fs-12: 1.2rem;
  --fs-13: 1.3rem;
  --fs-14: 1.4rem;
  --fs-15: 1.5rem;
  --fs-16: 1.6rem;
  --fs-17: 1.7rem;
  --fs-18: 1.8rem;
  --fs-19: 1.9rem;
  --fs-2: 2rem;
  --fw-3: 300;
  --fw-4: 400;
  --fw-5: 500;
  --fw-6: 600;
  --fw-7: 700;
  --transition-timing: 0.3s;
}

.search {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.search__label {
  position: relative;
  width: 250px;
}
@media (max-width: 599px) {
  .search__label {
    width: 45%;
  }
}
.search__icon {
  position: absolute;
  margin-inline-start: 4px;
  width: 22px;
  top: 50%;
  transform: translateY(-50%);
  color: rgb(156, 156, 156);
  cursor: text;
}
.search__input {
  all: unset;
  width: 100%;
  padding: 4px 0 4px 28px;
  border: 1px solid rgb(192, 192, 192);
  border-radius: 6px;
  cursor: text;
}
@media (max-width: 599px) {
  .search__input {
    width: 100%;
  }
}
.search__clear-btn {
  all: unset;
  font-weight: var(--fw-5);
  color: red;
  cursor: pointer;
  transition: var(--transition-timing);
}
.search__clear-btn:hover {
  font-weight: var(--fw-6);
  text-decoration: underline;
}
@media (max-width: 599px) {
  .search__clear-btn {
    font-size: clamp(1.2rem, 2vw, 2rem);
  }
}

:root {
  --color-body: #9dc4eb;
  --fs-1: 1rem;
  --fs-11: 1.1rem;
  --fs-12: 1.2rem;
  --fs-13: 1.3rem;
  --fs-14: 1.4rem;
  --fs-15: 1.5rem;
  --fs-16: 1.6rem;
  --fs-17: 1.7rem;
  --fs-18: 1.8rem;
  --fs-19: 1.9rem;
  --fs-2: 2rem;
  --fw-3: 300;
  --fw-4: 400;
  --fw-5: 500;
  --fw-6: 600;
  --fw-7: 700;
  --transition-timing: 0.3s;
}

.transactions {
  padding: 8px;
  border-top: 1px solid grey;
}
.transactions__header {
  display: flex;
  justify-content: space-between;
}
.transactions__timing-wrapper {
  display: flex;
  gap: 20px;
}
.transactions__list {
  height: 206px;
  display: flex;
  flex-direction: column;
  gap: 7px;
  overflow-y: scroll;
}
.transactions__list::-webkit-scrollbar {
  width: 13px;
}
.transactions__list::-webkit-scrollbar-thumb {
  border: 5px solid transparent;
  border-radius: 100px;
  background-color: var(--color-body);
  background-clip: content-box;
  cursor: pointer;
}
.transactions__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  border-radius: 6px;
  background-color: rgba(238, 238, 238, 0.6705882353);
}
.transactions__type {
  display: flex;
  align-items: center;
  gap: 15px;
  width: 25%;
}
@media (max-width: 599px) {
  .transactions__type {
    flex-direction: column;
    gap: 5px;
  }
}
.transactions__category {
  font-size: clamp(var(--fs-16), 2vw, var(--fs-19));
  font-weight: var(--fw-7);
}
@media (max-width: 599px) {
  .transactions__category {
    font-size: clamp(var(--fs-14), 1.5vw, var(--fs-16));
  }
}
.transactions__name {
  font-size: clamp(var(--fs-13), 2vw, var(--fs-17));
  font-weight: var(--fw-4);
}
@media (max-width: 599px) {
  .transactions__name {
    font-size: clamp(var(--fs-13), 1.5vw, var(--fs-15));
  }
}
.transactions__details {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  width: 35%;
}
@media (max-width: 599px) {
  .transactions__details {
    flex-direction: column;
    align-items: center;
    gap: 5px;
  }
}
.transactions__amount {
  font-size: var(--fs-17);
}
@media (max-width: 599px) {
  .transactions__amount {
    font-size: var(--fs-15);
  }
}
.transactions__time-wrapper {
  display: flex;
  gap: 20px;
  font-size: var(--fs-17);
}
@media (max-width: 599px) {
  .transactions__time-wrapper {
    gap: 5px;
    font-size: var(--fs-15);
  }
}
.transactions__actions {
  display: flex;
  gap: 20px;
}
@media (max-width: 599px) {
  .transactions__actions {
    gap: 15px;
  }
}
.transactions__edit {
  all: unset;
  cursor: pointer;
}
.transactions__edit-icon {
  width: 22px;
}
@media (max-width: 599px) {
  .transactions__edit-icon {
    width: 18px;
  }
}
.transactions__delete {
  all: unset;
  cursor: pointer;
}
.transactions__delete-icon {
  width: 22px;
}
@media (max-width: 599px) {
  .transactions__delete-icon {
    width: 18px;
  }
}/*# sourceMappingURL=style.css.map */